---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Sep 2022 - Current...",
    title: "Senior Software Engineer",
    company: "Anheuser-Busch InBev",
    description:
      "Deliver high-quality, robust production code for Anheuser Busch Inbev's points rewards system, troubleshooting issues and optimizing performance while collaborating with cross-functional teams to enhance user experience and implement new features.",
    link: "https://www.ab-inbev.com/",
  },
  {
    date: "Jun 2021 - Sep 2022",
    title: "Mid Backend Engineer",
    company: "Blackstone Studio",
    description:
      "Responsible for the backend architecture of the Taxaroo project, developing the API and integrating with third-party services.",
    link: "https://www.blackstone.studio/"
  },
  {
    date: "Nov 2019 - Jun 2021",
    title: "Database administrator",
    company: "Netlogistik",
    description:
      "Responsible for the logistics system database, ensuring data integrity and performance for companies such as Chedraui, Estafeta and others.",
    link: "https://www.netlogistik.com/"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
